<h1> <%= t('article.title')%></h1>
<%=link_to 'Add article', new_article_path, class: 'btn btn-primary'%>
<ol> 
<%@articles.reverse.each do |article|%>
<li>
<%= link_to "#{article.title}", article_path(article), style: 'color: #474a51' %>
</li>
<%end%>
</ol>

